name: Deploy Documentation

on:
  push:
    branches:
      - main
    paths:
      - "docs/**"
      - "mkdocs.yml"
      - "README.md"
      - "hive/honeycomb/wisdom.json"

permissions:
  contents: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Configure Git Credentials
        run: |
          git config user.name github-actions[bot]
          git config user.email 41898282+github-actions[bot]@users.noreply.github.com

      - uses: actions/setup-python@v5
        with:
          python-version: 3.x

      - run: echo "cache_id=$(date --utc '+%V')" >> $GITHUB_ENV

      - uses: actions/cache@v4
        with:
          key: mkdocs-material-${{ env.cache_id }}
          path: .cache
          restore-keys: |
            mkdocs-material-

      - name: Install dependencies
        run: pip install mkdocs-material

      - name: Copy Wisdom and Readme
        run: |
          mkdir -p docs/api
          mkdir -p docs/lore
          cp hive/honeycomb/wisdom.json docs/api/wisdom.json
          cp README.md docs/index.md
          cp config/lore/*.md docs/lore/

      - name: Deploy to GitHub Pages
        run: mkdocs gh-deploy --force
